body {
  background-color: black;
  background-image: radial-gradient(rgb(27, 24, 28), black 120%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}
::selection {
  background: #393939;
  text-shadow: none;
}
pre {
  margin: 0;
}
.item {
  text-align: left;
  padding: 10px;
}

.main-dev {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  border: solid rgba(119, 119, 119, 0.397) 1px;
}

.item3 {
  grid-column: 1 / 3;
  /* or grid-column: 1 / span 2 */
}
